/* START OF STYLE RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF STYLE RESET */

body {
    background-color: #1e1e1e;
}

.navBar {
    min-height: 40px;
}

.dropSourceBar {
    display: flex;
    min-height: 200px;
    background-color: #282828;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.dropSource {
    height: 175px;
    width: auto;
    border-radius: 12px;
    margin: 15px;
    filter: grayscale(100%)
}

.equipPicker {
    display: flex;
    justify-content: center;
}

.charPlace {
    background: #171717;
    border: 1px;
    border-style: solid;
    border-color: gray;
}

.charImage {
    width: auto;
    height: 652px;
}

.equipment {
    width: 250px;
    height: 80px;
    border: 1px;
    border-style: solid;
    border-color: gray;
}

.middleEquipments {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}