/* START OF STYLE RESET */

/* END OF STYLE RESET */

body {
    background-color: #1e1e1e;
}

.navBar {
    min-height: 40px;
}

.dropSourceBar {
    display: flex;
    min-height: 200px;
    background-color: #282828;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.dropSource {
    height: 175px;
    width: auto;
    border-radius: 12px;
    margin: 15px;
    filter: grayscale(100%)
}

.dropSource:hover {
    height: 185px;
    margin: 6px;
    filter: none;
    -webkit-box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
    box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
}

/*  GLOW EFFECT FOR TEXT
.textSource:hover {
    color: white;
    text-shadow:0px 0px 30px white;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
*/

.equipPicker {
    display: flex;
    justify-content: center;
}

.charPlace {
    background: #171717;
    border: 1px;
    border-style: solid;
    border-color: rgb(50, 50, 50);
}

.charImage {
    width: auto;
    height: 523px;
    margin-left: 50px;
    margin-right: 50px;
}

.equipment {
    background: #171717;
    display: flex;
    justify-content: right;
    flex-direction: row;
    width: 250px;
    height: 64px;
    border: 1px;
    border-style: solid;
    border-color: rgb(50, 50, 50);
}

.equipImgContainer {
    position: relative;
    top: 0;
    left: 0;
}

.equipImg {
    height: 64px;
    width: auto;
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
    border-style: ridge;
}

.equipImg:hover {
    border-color: white;
    -webkit-box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
    box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
    cursor: pointer;
}

.equipImg:hover + .addImg {
    visibility: visible;
    opacity: 75%;
    cursor: pointer;
}

.addImg {
    visibility: hidden;
    position: absolute;
    top: 8px;
    left: 8px;
    pointer-events: none
}

.middleEquipments {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.equipText {
    padding-left: 5px;
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    font-family: sans-serif;
    font-size: medium;
    margin-right: 10px;
}

.equipName {
    font-size: large;
    color: rgb(176, 52, 176);
    margin-top: 5px;
    margin-bottom: 5px;
}

.stats {
    display: flex;
    justify-content: space-between;
    color: rgb(31, 181, 31);
}
