/* START OF STYLE RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF STYLE RESET */

body {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    /*BLOCKING SELECT TEXT START*/
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   /*BLOCKING SELECT TEXT END*/
}

.dropSourceBar {
    display: flex;
    height: 205px;
    width: 100%;
    background-color: #282828;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.12);
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    overflow: hidden;
    position: fixed;
    top: 0px;
    z-index: 98;
}

img.dropSource{
    object-fit: cover;
}

.dropSourceFrame {
    position: relative;
    height: 205px;
    min-width: 339px;
    text-align: center;
    top: 0;
    left: 0;
}

.dropSource {
    transition: 0.4s;
    height: 175px;
    width: 311px;
    margin-top: 15px;
    border-radius: 12px;
    cursor: pointer;
    object-fit: cover;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    filter: grayscale(100%);
}

.dropSource:hover {
    transition: 0s;
    height: 185px !important;
    width: 329px;
    margin-top: 10px !important;
    -webkit-box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
    box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
}

.dropSourceSmall {
    transition: 0.4s;
    height: 50px !important;
    width: 311px;
    margin-top: 78px !important;
    border-radius: 12px;
    cursor: pointer;
    object-fit: cover;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    filter: grayscale(100%);
}

.dropSourceSmall:hover {
    transition: 0s;
    height: 60px !important;
    width: 329px;
    margin-top: 73px !important;
    -webkit-box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
    box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
}


.dropSource:hover + .dropSourceText {
    color: white !important;
    text-shadow: 0 0 30px rgb(255,255,255) !important;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.dropSourceSmall:hover + .dropSourceText {
    color: white !important;
    text-shadow: 0 0 30px rgb(255,255,255) !important;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.dropSourceText {
    position: absolute;
    width: 311px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0, 0, 0, 0.85) 50%, rgba(255,255,255,0) 100%);
    text-align: center;
    top: 42.5%;
    left: 4.5%;
    font-family: sans-serif;
    font-weight: 700;
    pointer-events: none;
    font-size: xx-large;
    color: grey;
    transition: 0.4s;
}

.classPickerBar {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #282828;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.12);
    flex-wrap: nowrap;
    justify-content: center;
    transition: 0.4s;
    overflow: hidden;
    position: fixed;
    top: 205px;
    z-index: 98;
    transition: 0.4s;
    overflow: visible;
}

.classPickerFrame {
    display: flex;
    max-width: 360px;
    min-width: 360px;
    transition: 0.4s;
}

.attributePicker {
    background-color: rgb(80, 80, 80);
    color: #1f1f1f;
    min-width: 120px;
    max-height: 30px;
    min-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 15px;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    font-weight: 600;
    font-size: medium;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: 0.4s;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#criticalOption:hover, #hasteOption:hover, #masteryOption:hover, #versatilityOption:hover {
    color: white !important;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
    box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
    transition: 0s;
}

#selectClass {
    background-color: rgb(100, 100, 100);
    color: #282828;
    height: 40px;
    min-width: 170px;
    margin-top: 14px;
    margin-left: 10px;
    border-radius: 20px;
    text-align: center;
    position: fixed;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    font-weight: 700;
    font-size: medium;
    transition: 0.4s !important;
    overflow: hidden;
}

.classOption {
    height: 30px;
    padding-top: 12px;
}

.classOption:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0 0 1em black, 0 0 0.2em black;
    color: white;
}

#deathKnightOption:hover {
    background-color: #c41f3b;
}

#demonHunterOption:hover {
    background-color: #a330c9;
}

#druidOption:hover {
    background-color: #ff7d0a;
}

#evokerOption:hover {
    background-color: #33937F;
}

#hunterOption:hover {
    background-color: #abd473;
}

#mageOption:hover {
    background-color: #69ccf0;
}

#monkOption:hover {
    background-color: #00ff96;
}

#paladinOption:hover {
    background-color: #f58cba;
}

#priestOption:hover {
    background-color: #fff;
}

#rogueOption:hover {
    background-color: #fff569;
}

#shamanOption:hover {
    background-color: #0070de;
}

#warlockOption:hover {
    background-color: #9482c9;
}

#warriorOption:hover {
    background-color: #c79c6e;
}

#emptyOption {
    padding-right: 18px;
    padding-top: 12px;
}

.classPicker {
    background-color: #1e1e1e;
    height: 68px;
    width: 68px;
    text-align: center;
    border-radius: 37px;
    margin-left: 143px;
    position: fixed;
    border: 3px solid;
    border-color: #aeaeae;
    z-index: 98;
}

#classPickerId {
    transition: 0.4s;
}

.classPicker img {
    height: 52px;
    width: 52px;
    margin-top: 8px;
    object-fit: contain;
    opacity: 50%;
    transition: 0.4s;
}

.classIconLoader {
    display: none;
}

#selectSpec {
    background-color: rgb(100, 100, 100);
    color: #282828;
    height: 40px;
    min-width: 170px;
    margin-left: 180px;
    margin-top: 14px;
    border-radius: 20px;
    text-align: center;
    position: fixed;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    font-weight: 700;
    font-size: medium;
    cursor: pointer;
    overflow: hidden;
    transition: 0.4s !important;
}

#specSelectedId {
    padding-left: 18px;
    padding-top: 12px;
}

.specOption {
    height: 30px;
    padding-top: 12px;
    padding-left: 5px;
}

.specOption:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0 0 1em black, 0 0 0.2em black;
    color: white;
}

.equipPicker {
    display: flex !important;
    justify-content: center !important;
    margin-top: 315px;
}

.charPlace {
    display: flex;
    flex-direction: column;
    background: #171717;
    border: 1px;
    border-style: solid;
    border-color: rgb(50, 50, 50);
}

.charImageArea {
    min-width: 544px;
    max-width: 544px;
    min-height: 527px;
    max-height: 527px;
    text-align: center;
}

#charImage {
    object-fit: contain;
}

.equipment {
    background: #171717;
    display: flex;
    justify-content: right;
    flex-direction: row;
    width: 250px;
    height: 64px;
    border: 1px;
    border-style: solid;
    border-color: rgb(50, 50, 50);
}

.equipImgContainer {
    position: relative;
    top: 0;
    left: 0;
}

.equipImg {
    height: 64px;
    width: auto;
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
    border-style: ridge;
}

.equipImg:hover {
    border-color: white;
    -webkit-box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
    box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
    cursor: pointer;
}

.equipImg:hover + .addImg {
    visibility: visible;
    opacity: 75%;
    cursor: pointer;
}

.addImg {
    visibility: hidden;
    position: absolute;
    top: 8px;
    left: 8px;
    pointer-events: none
}

.middleEquipments {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.equipText {
    padding-left: 5px;
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    font-family: sans-serif;
    font-size: medium;
    margin-right: 10px;
}

.equipName {
    font-size: large;
    color: rgb(176, 52, 176);
    margin-top: 5px;
    margin-bottom: 5px;
}

.stats {
    display: flex;
    justify-content: space-between;
    color: rgb(31, 181, 31);
}

.statsResult {
    height: 1080px;
    width: auto;
    background-color: #1e1e1e;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #1e1e1e;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 800px; /* Could be more or less, depending on screen size */
    height: 600px;
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
